:root {
    /* Color Palette */
    --dark: #2d4351;
    --darker: #0F1626;
    --bright: #F6F6F6;
    --beige: #AB987A;
    --red: #FF533D;
    --blue: #628dff;
    --brightBlue: rgb(61, 113, 255);
}

* {
    margin: 0;
    padding: 0;
    color: var(--bright);
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

a:focus { 
    outline: 0; 
}

body {
    height: 100vh;
    width: 200vw;
    display: block;
    background-color: var(--dark);
    overflow-x: hidden;
}

#inputs {
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 10vh;
    background-color: var(--dark);
}

#inputs>* {
    margin-left: 2px;
    margin-right: 2px;
    color: var(--dark);
    margin-top: 1.8vh;
}

#postListContainer{
    width: 100vw;
    height: 100%;
    float: left;
}

#postList {
    width: 100vw;
    height: 90vh;
    border: 1px solid var(--darker);
    float: left;
    overflow-y: scroll;
}

#postReader {
    width: 100vw;
    height: 100vh;
    float: left;
    right: 0;
    box-shadow: 0px 0px 2px 0px black;
    overflow-y: scroll;
}

#postReader .preview {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
}

#postReader p{
    margin-top: 0.5%;
}

#postReader #backContainer{
    height: 10vh;
    background-color: var(--dark);
}
#postReader #backContainer button{
    color: var(--dark);
    margin-top: 1.8vh;
}   

#postReader .contentContainer{
    margin: 1%;
    padding: 1%;
    border: 2px solid var(--darker);
}

#postReader .commentHeader{
    margin: 1%;
}

.postLink {
    border: 1px solid var(--darker);
    display: block;
    margin: 1%;
    padding: 1%;
}

.postLink .thumbnailContainer {
    width: 70px;
    float: left;
    margin-right: 0.5%;
}

.postLink .linksContainer{
    margin-top: -0.8%;
}

.postLink .thumbnail {
    height: 70px;
    width: 70px;
    background-color: var(--bright);
}

.postLink .author {
    float: left;
    margin-right: 50px;
    color: var(--brightBlue);
    font-weight: normal;
    font-size: 15px;
}

.postLink .score {
    color: var(--brightBlue);
    font-weight: normal;
    font-size: 15px;
}

.postLink .title {
    font-size: 20px;
    color: var(--blue);
    margin-top: 0.5%;
}

.postLink .title:focus{
    color: red;
}

.postLink .inspectLink {
    text-decoration: none;
}

.postLink .commentLink {
    font-size: 10px;
}

.postComment{
    border: 2px solid var(--darker);
    margin: 1%;
    padding: 1%;
    overflow-x: scroll;
}

.postComment span{
    margin-right: 0.5%;
    color: var(--blue);
}